<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wiki2DocuXML</title>
        <link
            rel="icon"
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/W_in_a_circle.svg/156px-W_in_a_circle.svg.png"
        />
        <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
        <!-- Full bundle -->
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            crossorigin="anonymous"
        ></script>
        <script src="https://unpkg.com/buefy/dist/components/table"></script>
        <script src="https://unpkg.com/buefy/dist/components/input"></script>
        <link
            rel="stylesheet"
            href="https://unpkg.com/buefy/dist/buefy.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
        />
        <link
            rel="stylesheet"
            href="node_modules/@riophae/vue-treeselect/dist/vue-treeselect.min.css"
        />

        <style>
            .sidebar-content {
                width: 400px !important;
            }
            /* #aside {
                background-color: white;
                color: black;
                height: 700px;
                overflow: auto;
            } */
            .selectTagBox {
                position: absolute;
                max-width: 500px;
                max-height: 400px;
                z-index: 1000;
                border: #cfe65b 2px solid;
                background-color: white;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div id="app">
            
            <div class="selectTagBox" ref="selbox" v-if="isTagOpen">
                <div v-for="(tag, index) in splitWikiTags">
                    <b-radio type="radio" v-model="selectTag" :native-value="tag">{{ tag }}</b-radio>
                </div>
                <b-button type="is-small" @click="setTag">確認</b-button>
                <b-button type="is-small" @click="isTagOpen = false">取消</b-button>
            </div>

            <!-- <input
                class="input"
                type="text"
                placeholder="輸入關鍵字"
                v-model="keyword"
                @keypress.enter="getTableOfContents"
            />
            <button class="button" @click="getTableOfContents">Search</button> -->
            <!-- <div class="content">
                <ul>
                    <li v-for="(item, key) in menuOfWiki">
                        {{item.index}} : {{item.value}}
                    </li>
                </ul>
            </div> -->

            <!-- <div class="content">
                <menu-list :tree-data="menuOfWiki"></menu-list>
            </div>
            <div class="content">
                <ul v-for="item in filterResult">
                    <li>{{item}}</li>
                </ul>
            </div> -->
            <!-- <div>
                <treeselect
                    v-model="contentNeededList"
                    :multiple="true"
                    :options="menuOfWiki"
                    :sort-value-by="sortValueBy"
                    :value-consists-of="valueConsistsOf"
                    :auto-select-descendants="true"
                    :limit="10"
                />
                <treeselect
                    v-model="treeShowMenu"
                    :multiple="true"
                    :options="treeShowMenu"
                    :sort-value-by="sortValueBy"
                    :value-consists-of="valueConsistsOf"
                    :auto-select-descendants="true"
                    :limit="10"
                />
            </div> -->
            

            <!-- <div class="content">
                <b-field label="測試內容">
                    <b-input type="textarea" v-model="testInputCut"></b-input>
                </b-field>
                <b-button @click="cutText">Click</b-button>
                <ul>
                    <li v-for="(item) in testOutput">{{item}}</li>
                </ul>
                <div v-html="searchResult" v-model="getCleanText"></div>
            </div> -->
            <div class="content">
                <b-input placeholder="輸入需要的標籤（以逗號分隔）" v-model="wikiTags"></b-input>
            </div>
            <div>
                <div style="white-space:pre-wrap;" v-html="test" @mouseup="print"></div>
            </div>
            <br/><br/><br/>
            <div class="content">
                <h4>目前所選擇的tag為: {{ selectTag }}</h4>
            </div>
            
        </div>
    </body>
    <script type="text/javascript" src="./main.js"></script>
</html>
